<div class="tab-container">
  <button class="tab-button" (click)="showVendorForm()">Vendor</button>
  <button class="tab-button" (click)="showCustomerForm()">Customer</button>
</div>

<div class="form-container">
  <div class="form" *ngIf="isVendorFormVisible">
    <h3>Vendor Details</h3>
    <form (ngSubmit)="submitForm()">
      <div class="input-group">
        <label for="vendorName">Vendor Name:</label>
        <input
          id="vendorName"
          type="text"
          name="vendorName"
          [(ngModel)]="vendorName"
          required
          #vendorNameInput="ngModel"
          [disabled]="formDisabled"
        />
        <div class="warning" *ngIf="vendorNameInput.invalid && vendorNameInput.touched">
          Name is required!
        </div>
      </div>

      <div class="input-group">
        <label for="vendorCapacity">Amount of Tickets to Release:</label>
        <input
          id="vendorCapacity"
          type="number"
          [(ngModel)]="vendorCapacity"
          name="vendorCapacity"
          [min]="1"
          [max]="maxCapacity"
          #vendorCapacityInput="ngModel"
          [disabled]="formDisabled"
        />
        <div class="warning" *ngIf="vendorCapacityInput.invalid && vendorCapacityInput.touched">
          Ticket amount should not exceed the maximum tickets available.
        </div>
      </div>

      <button class="submit-button" type="submit" [disabled]="!vendorName || !vendorCapacity || vendorCapacity > maxCapacity || formDisabled">
        RELEASE
      </button>
    </form>
  </div>

  <div class="form" *ngIf="isCustomerFormVisible">
    <h3>Customer Details</h3>
    <form (ngSubmit)="submitForm()">
      <div class="input-group">
        <label for="customerName">Customer Name:</label>
        <input
          id="customerName"
          type="text"
          name="customerName"
          [(ngModel)]="customerName"
          required
          #customerNameInput="ngModel"
          [disabled]="formDisabled"
        />
        <div class="warning" *ngIf="customerNameInput.invalid && customerNameInput.touched">
          Name is required!
        </div>
      </div>

      <div class="input-group">
        <label for="customerCapacity">Amount of Tickets to Buy:</label>
        <input
          id="customerCapacity"
          type="number"
          [(ngModel)]="customerCapacity"
          name="customerCapacity"
          [min]="1"
          [max]="maxCapacity"
          #customerCapacityInput="ngModel"
          [disabled]="formDisabled"
        />
        <div class="warning" *ngIf="customerCapacityInput.invalid && customerCapacityInput.touched">
          Ticket amount should not exceed the maximum tickets available.
        </div>
      </div>

      <button class="submit-button" type="submit" [disabled]="!customerName || !customerCapacity || customerCapacity > maxCapacity || formDisabled">
        BUY
      </button>
    </form>
  </div>
</div>

  <app-ticket-status *ngIf="isFormSubmitted"></app-ticket-status>
